# Dependencies
# Dependencias
node_modules/

# Environment variables
# Variables de entorno
.env

# Ignorar el contenido de la carpeta de subidas, pero no la carpeta en sí
# Ignore the contents of the uploads folder, but not the folder itself
backend/uploads/*
!backend/uploads/**/.gitkeep