# Dependencies
# Dependencias
node_modules/

# Environment variables
# Variables de entorno
.env

# Ignorar todos los archivos dentro de uploads y sus subcarpetas
# Ignore all files inside uploads and its subdirectories
backend/uploads/**

# Pero no ignorar los archivos .gitkeep, para mantener la estructura de carpetas
# But do not ignore .gitkeep files, to keep the folder structure
!backend/uploads/**/.gitkeep