@use "../../styles/variables" as *;

.filterGroup {
  // No se necesita margen aquí si se gestiona en el layout padre
}

.inputContainer {
  position: relative;
}

.input {
  // Añadir padding para los iconos
  padding-left: 2.8rem; // Espacio para el icono izquierdo
  padding-right: 2.5rem; // Espacio para el botón de limpiar
  
  // Estilo consistente con la paleta
  &:focus {
    border-color: $primary;
    box-shadow: 0 0 0 0.25rem rgba($primary, 0.25);
  }

  &::placeholder {
    text-align: center;
    color: rgba($dark, 0.5); // Opcional: ajustar color para mejor visibilidad
  }
}

.leadingIcon {
  position: absolute;
  top: 50%;
  left: 0.8rem; // Ajustado para más espacio
  transform: translateY(-50%);
  color: $secondary;
  opacity: 0.6;
  pointer-events: none; // No interferir con el clic del input
  z-index: 3; // Asegurar que esté por encima del input
}

.clearButton {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  // Estilo del botón de bootstrap, pero sin fondo y con hover
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
  padding: 0.25rem 0.5rem;
  color: $secondary;
  opacity: 0.5;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.8;
  }
}