/**
 * =============================================================================
 * Estilos para la página de registro de usuario (RegisterUserPage)
 * Styles for the User Registration Page (RegisterUserPage)
 * =============================================================================
 *
 * Descripción: Estilos para la página donde los usuarios pueden crear una nueva
 * cuenta. Incluye el diseño de la tarjeta del formulario, los campos de control
 * y el enlace para iniciar sesión.
 *
 * Description: Styles for the page where users can create a new account.
 * Includes the design of the form card, form control fields, and the
 * login link.
 *
 * =============================================================================
 */
@use "../styles/variables" as *; // Importar variables globales // Import global variables

.registerCard {
  max-width: 800px; // Un poco más ancha que la de login para acomodar más campos // Slightly wider than login to accommodate more fields
  width: 100%;
  border-radius: var(
    --bs-border-radius-xl
  ); // Bordes redondeados grandes // Large rounded borders
}

.formControl {
  border-radius: var(
    --bs-border-radius-lg
  ); // Bordes redondeados // Rounded borders
  border-color: var(--bs-gray-300); // Color de borde // Border color
  &:focus {
    border-color: $primary; // Color primario al enfocar // Primary color on focus
    box-shadow: 0 0 0 0.25rem rgba($primary, 0.25); // Sombra con color primario // Shadow with primary color
  }
}

.linkText {
  color: $primary; // Color primario // Primary color
  text-decoration: none; // Sin subrayado // No underline
  &:hover {
    filter: brightness(
      90%
    ); // Brillo reducido al pasar el ratón // Reduced brightness on hover
    text-decoration: underline; // Subrayado al pasar el ratón // Underline on hover
  }
}

// Estilo para posicionar el nuevo botón de cierre animado.
// Style to position the new animated close button.
.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;

  @media (max-width: 768px) {
    top: 50px; // Ligeramente más abajo en móvil // Slightly lower on mobile
    margin-right: 10px;
  }
}
