/**
 * =============================================================================
 * ESTILOS PARA: CloseButton
 * STYLES FOR: CloseButton
 * =============================================================================
 */

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  // color: var(--bs-gray-800); // Removido para control via prop
  padding: 5px 10px;
  border-radius: 50%;
  transition: background-color 0.2s;
  z-index: 10;
}

.closeButton:hover {
  background-color: var(--bs-gray-200);
}